
@tailwind base;
@tailwind components;
@tailwind utilities;

.progress{

    &:indeterminate:after{

        @apply rounded-none;
        animation-duration: 1s;

    }

}

.background-animate {

    animation: gradient-animation 3s ease infinite;
    background-size: 400%;

}

@keyframes gradient-animation {

    0%,
    100% {

        background-position: 100% 50%;

    }

    50% {

        background-position: 0% 50%;

    }

}
